{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}

<main>
  <div class="section">
    <div class="columns">
      <div class="column is-two-fifths">
        <h1 class="title is-1">Социальная футурология</h1>
        <h3 class="subtitle is-3">Краудсорсинг предсказаний будущего</h3>
      </div>
      <div class="column is-three-fifths">
        <div class="content is-large">
          <p>
            Предиктор придуман в первую очередь как игра, и чтобы в эту игру выиграть,
            надо хорошо понимать, что происходит вокруг.
          </p>
          <h4>Интеллектуальная игра, где ключ к успеху в хорошем понимании реальности.</h4>
          <p>
            Психолог Джорж Келли считал, что предсказание будущего - вообще центральная функция психики,
            ради которой последняя и появилась в процессе эволюции. Он описывал психику как 
            "прогностическую систему", качество которой определяется способностью
            как можно более точно предсказывать будущие события.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    {{ template "system-summary" .Summary }}
  </div>
</main>

{{ end }}