{{ define "title" }} Challenge details {{ end }}
{{ define "view" }}
<div class="block">
    <h3 class="title is-3">
        <a href="/"><i class="bi-arrow-left"></i> Назад</a>
    </h3>
    <div class="block mb-5">
        <h1 class="title is-1">{{ .Challenge.Content }}</h1>
        <h3 class="subtitle is-3">{{ .Challenge.Description }}</h3>
    </div>

    {{ if .Challenge.Finished }}
    {{ template "challenge-details-scale" . }}
    {{ else }}
    <!-- else finished-->
    {{ if .User }}
    {{ if .Challenge.UserPrediction }}
    {{ template "challenge-details-scale" . }}
    <h3 class="title is-3">Вы уже проголосовали: {{ .Challenge.UserPrediction.Prognosis }}</h3>
    {{ else }}
    <!-- else user prediction -->
    <div class="columns">
        <div class="column">
            <button live-click="add-prediction-modal" live-value-addprediction="true"
                class="button is-large is-success is-fullwidth">Да</button>
        </div>
        <div class="column">
            <button live-click="add-prediction-modal" live-value-addprediction="false"
                class="button is-large is-danger is-fullwidth">Нет</button>
        </div>
        {{ if .ShowModal }}
        {{ template "challenge-details-modal" . }}
        {{ end }}
    </div>
    {{ template "challenge-details-no-prediction-counter" . }}
    {{ end }}
    <!-- end user prediction -->
    {{ else }}
    <!-- else user -->
    {{ template "challenge-details-no-prediction-counter" . }}
    {{ end }}
    <!-- end user -->
    {{ end }}
    <!-- end finished -->

    <div class="section">
        <h3 class="title is-3 has-text-centered">Фактический исход:
            {{ if .Challenge.HasOutcome }}
            {{ if .Challenge.HasOutcomeAndTrue }}
            <span class="has-text-success">
                сбылось
                <i class="bi-check-circle-fill"></i>
            </span>
            {{ else }}
            <span class="has-text-danger">
                не сбылось
                <i class="bi-x-circle-fill"></i>
            </span>
            {{ end }}
            {{ else }}
            <span class="has-text-link">
                пока не известно
                <i class="bi-question-circle-fill"></i>
            </span>
            {{ end }}
        </h3>
        <div class="has-text-centered">
            <a class="twitter-share-button"
                href="https://twitter.com/intent/tweet?text={{ .Challenge.Content }} - народный прогноз"
                data-size="large" data-show-count="false">
                Tweet
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
{{end}}

{{define "challenge-details-no-prediction-counter"}}
<div class="level is-mobile">
    <!-- Left side -->

    <!-- center -->
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Голосов</p>
            <p class="title is-1">{{ .Challenge.Votes }}</p>
        </div>
    </div>

    <!-- Right side -->
</div>
{{end}}

{{ define "challenge-details-modal" }}
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Подтверджение</p>
            <button live-click="close-modal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body has-text-centered">
            <p class="title is-4">Предсказание:</p>
            <p class="title is-3">{{ .Challenge.Content }}</p>
            <p class="title is-4">Ваш прогноз:</p>
            <p class="title is-2 {{ if .ModalPrediction }}is-success{{else}}is-danger{{end}}">
                {{ if .ModalPrediction }}
                это случится
                {{ else }}
                это не случится
                {{ end }}
            </p>
            <div class="columns">
                <div class="column">
                    <button live-click="add-prediction" live-value-addprediction="{{ .ModalPrediction }}"
                        class="button is-large is-success is-fullwidth">Подтвердить</button>
                </div>
                <div class="column">
                    <button live-click="close-modal" class="button is-large is-danger is-fullwidth">Отмена</button>
                </div>
            </div>
        </section>
    </div>
</div>
{{end}}