{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}

<main>
  <div class="section has-text-centered">
    <h1 class="title is-1">Predictor</h1>
    <h3 class="subtitle is-3">Crowd predictions on various topics</h3>
  </div>
  <div class="block">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h4 class="title is-4">Random Ongoing Challenges</h4>
          {{ range $i, $challenge := .RandomOngoingChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="title is-4">Random Finished Challenges</h4>
          {{ range $i, $challenge := .RandomFinishedChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    {{ template "system-summary" .Summary }}
  </div>
</main>

{{ end }}