{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}
<main>
  {{ template "back-to-home" }}
  <div class="section">
    <h1 class="title is-1 is-size-3-mobile">Поиск предсказаний</h1>
    <form class="notification box has-background-white mb-6" id="filter-challenges-form"
      live-change="filter-challenges">

      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="ongoing" {{ if .FilterArgs.Finished }}disabled{{ end }}>
              </div>
              <div class="level-item">
                <p class="is-size-4 is-size-6-mobile pb-1 {{ if .FilterArgs.Finished }}has-text-grey-light{{ end }}">
                  Открытые</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="finished" {{ if .FilterArgs.Ongoing }}disabled{{ end }}>
              </div>
              <div class="level-item">
                <p class="is-size-4 is-size-6-mobile pb-1 {{ if .FilterArgs.Ongoing }}has-text-grey-light{{ end }}">
                  Завершённые</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ if .User }}
      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="unvoted">
              </div>
              <div class="level-item">
                <p class="is-size-4 is-size-6-mobile pb-1">Без вашего голоса</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

    </form>
    <div class="level">
      <h4 class="title is-4 is-size-5-mobile">Найдено предсказаний: {{ .ChallengeCount }}</h4>
      <h4 class="subtitle is-5 is-size-6-mobile">Страница <b>{{ .Page }}</b> из <b>{{ .MaxPage }}</b></h4>
    </div>
    <div class="block">
      {{ template "challenge-list-pagination" . }}
    </div>
    <div class="block">
      {{ if eq .ChallengeCount 0 }}
      <h5 class="title is-5 is-size-6-mobile">Пока нет предсказания по критериям</h5>
      {{ else }}
      {{ range $i, $challenge := .Challenges }}
      {{ template "challenge-list-item" $challenge }}
      {{ end }}
      {{ end }}
    </div>
    <div class="block">
      {{ template "challenge-list-pagination" . }}
    </div>
  </div>
</main>
{{ end }}