{{ define "title" }} Challenge details {{ end }}
{{ define "view" }}
<div class="block">
  {{ template "back-to-home" }}
  <div class='notification {{ template "challenge-card-style" .Challenge }}'>
    <div class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div>
            <p class="heading">Начало голосования</p>
            <p class="title is-4">
              {{ .Challenge.StartStr }}
            </p>
          </div>
        </div>
      </div>
      <!-- Right side -->
      <div class="level-right has-text-right">
        <div class="level-item">
          <div>
            <p class="heading">Конец голосования</p>
            <p class="title is-4">
              {{ .Challenge.EndStr }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="block mb-5 mt-6">
      <h1 class="title is-1">{{ .Challenge.Content }}</h1>
      <h3 class="subtitle is-3">{{ .Challenge.Description }}</h3>
    </div>

    {{ if .Challenge.Finished }}
    {{ template "challenge-details-scale" . }}
    {{ else }}
    <!-- else finished-->
    {{ if .User }}
    {{ if .Challenge.UserPrediction }}
    {{ template "challenge-details-scale" . }}
    <h3 class="title is-3 has-text-centered">
      Вы уже проголосовали:
      {{ if .Challenge.UserPrediction.Prognosis }}
      это сбудется
      {{else}}
      это не сбудется
      {{end}}
    </h3>
    {{ else }}
    <!-- else user prediction -->
    {{ if .Challenge.AllowVoting }}
    <div class="columns">
      <div class="column">
        <button live-click="add-prediction-modal" live-value-addprediction="true"
          class="button is-large is-fullwidth is-light is-rounded"><b>Да</b></button>
      </div>
      <div class="column">
        <button live-click="add-prediction-modal" live-value-addprediction="false"
          class="button is-large is-fullwidth is-dark is-rounded"><b>Нет</b></button>
      </div>
      {{ if .ShowModal }}
      {{ template "challenge-details-modal" . }}
      {{ end }}
    </div>
    {{ end }}
    <!-- end allow voting -->
    {{ template "challenge-details-no-prediction-counter" . }}
    {{ end }}
    <!-- end user prediction -->
    {{ else }}
    <!-- else user -->
    {{ template "challenge-details-no-prediction-counter" . }}
    {{ end }}
    <!-- end user -->
    {{ end }}
    <!-- end finished -->

    <div class="section">
      <h3 class="title is-3 has-text-centered">Фактический исход:
        {{ if .Challenge.HasOutcome }}
        {{ if .Challenge.HasOutcomeAndTrue }}
        <span class="has-text-success">
          сбылось
          <i class="bi-check-circle-fill"></i>
        </span>
        {{ else }}
        <span class="has-text-danger">
          не сбылось
          <i class="bi-x-circle-fill"></i>
        </span>
        {{ end }}
        <div class="block">
          <p class="is-clickable subtitle is-4 mt-3 has-text-grey" live-click="toggle-proofs">Доказательства
            {{ if .ShowProofs }}
            <i class="bi bi-caret-up-fill"></i>
            {{ else }}
            <i class="bi bi-caret-down-fill"></i>
            {{ end }}
          </p>
        </div>
        {{ else }}
        <span class="has-text-link">
          пока не известно
          <i class="bi-question-circle-fill"></i>
        </span>
        {{ end }}
      </h3>
      {{ if .ShowProofs }}
      <div class="section">
        {{ range $i, $proof := .Challenge.Proofs }}
        {{ template "challenge-details-proof" $proof }}
        {{ end }}
      </div>
      {{ end }}
      {{ if .Challenge.Published }}
      <div class="has-text-centered">
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{ .Challenge.Content }} - народный прогноз" data-size="large"
          data-show-count="false">
          Tweet
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      {{ end }}
    </div>
  </div>
  {{ if .User }}
  {{ if .User.Admin }}
  <div class="block">
    <p class="title is-4 has-text-centered">
      <a href="./{{ .Challenge.ID }}/edit">Edit</a>
    </p>
  </div>
  {{ end }}
  {{ end }}
</div>
{{end}}

{{define "challenge-details-no-prediction-counter"}}
<div class="level is-mobile">
  <!-- Left side -->

  <!-- center -->
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Голосов</p>
      <p class="title is-1">{{ .Challenge.Votes }}</p>
    </div>
  </div>

  <!-- Right side -->
</div>
{{end}}

{{ define "challenge-details-proof" }}
<div class="notification has-background-white">
  <p class="title is-5">{{ .Content }}</p>
  <p class="subtitle is-6">
    <a href=" {{ .Link }}" target="_blank">{{ .Link }}</a>
  </p>
</div>
{{end}}

{{ define "challenge-details-modal" }}
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Подтверждение</p>
      <button live-click="close-modal" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body has-text-centered">
      <p class="title is-4">Предсказание:</p>
      <p class="title is-3">{{ .Challenge.Content }}</p>
      <p class="title is-4">Ваш прогноз:</p>
      <p class="title is-2 {{ if .ModalPrediction }}is-success{{else}}is-danger{{end}}">
        {{ if .ModalPrediction }}
        это случится
        {{ else }}
        это не случится
        {{ end }}
      </p>
      <div class="columns">
        <div class="column">
          <button live-click="add-prediction" live-value-addprediction="{{ .ModalPrediction }}"
            class="button is-large is-success is-fullwidth">Подтвердить</button>
        </div>
        <div class="column">
          <button live-click="close-modal" class="button is-large is-danger is-fullwidth">Отмена</button>
        </div>
      </div>
    </section>
  </div>
</div>
{{end}}