{{ define "title" }} Challenge update {{ end }}
{{ define "view" }}
{{ template "back-to-home" }}
<div class="section">
  <div class="block">
    <p class="title is-3 has-text-centered">Edit challenge details</p>
    {{ if .Challenge.AllowDetailsEdit }}
    <!-- live-change="edit-validate" -->
    <form id="edit-challenge-form" live-submit="edit-submit" >
      {{ if .FormError }}
      <div class="block">
        <p class="title is-5 has-text-danger">
          {{ .FormError.Error }}
        </p>
      </div>
      {{ end }}
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Challenge ID</label>
            <div class="control">
              <input value="{{ .Challenge.ID }}" class="input" name="id" disabled type="text"
                placeholder="00000000-0000-0000-0000-000000000000">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">Author ID</label>
            <div class="control">
              <input value="{{ .Challenge.AuthorID }}" class="input" name="author-id" disabled type="text"
                placeholder="00000000-0000-0000-0000-000000000000">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Content</label>
        <div class="control">
          <input value="{{ .ChallengeArgs.Content }}" class="input" name="content" type="text" placeholder="Content">
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <input value="{{ .ChallengeArgs.Description }}" class="input" name="description" type="text"
            placeholder="Description">
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Start time</label>
            <div class="control">
              <input value="{{ .ChallengeArgs.StartTime }}" class="input" name="start-time" type="text"
                placeholder="{{ .TimeLayout }}">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">End time</label>
            <div class="control">
              <input value="{{ .ChallengeArgs.EndTime }}" class="input" name="end-time" type="text"
                placeholder="{{ .TimeLayout }}">
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input {{ if .ChallengeArgs.Published }}checked{{end}} name="published" type="checkbox">
            Published
          </label>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-link is-large is-rounded">
            Update challenge
          </button>
        </div>
      </div>
    </form>
    {{ else }}
    <p class="title is-5 has-text-centered">Not allowed for this challenge</p>
    {{ end }}
  </div>
  <hr>
  <div class="block">
    <p class="title is-3 has-text-centered">Edit outcome</p>
    {{ if .Challenge.AllowOutcomeEdit }}
    <form id="outcome-form" live-submit="outcome-submit" live-change="outcome-validate">
      <!-- {{ if .FormError }}
      <div class="block">
        <p class="title is-5 has-text-danger">
          {{ .FormError.Error }}
        </p>
      </div>
      {{ end }} -->
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input name="outcome" live-debounce="blur" type="checkbox">
            Outcome
          </label>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <button class="button is-link is-large is-rounded">
            Update outcome
          </button>
        </div>
      </div>
    </form>
    {{ else }}
    <p class="title is-5 has-text-centered">Not allowed for this challenge</p>
    {{ end }}
  </div>
</div>
{{end}}