{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}
<main>
  {{ template "back-to-home" }}
  {{ if .User }}
  <div class="section">
    <div class="columns">
      <div class="column is-4">
        <div class="block">
          <figure class="image is-128x128">
            <img class="is-rounded" src="{{ .User.Picture }}" alt="userpic">
          </figure>
        </div>
        <div class="block has-text-left">
          <p>
            <b>Имя: </b>
            <span>{{ .User.Name }}</span>
          </p>
          <p>
            <b>Email: </b>
            <span>{{ .User.Email }}</span>
          </p>
          <p>
            <b>Язык: </b>
            <span>{{ .User.Locale }}</span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box notification has-background-white">

          <h3 class="title is-3 is-size-5-mobile has-text-centered">Статистика</h3>
          <progress class="progress is-large user-summary-meter" value="{{ .UserSummary.PercCorrect }}" max="100">{{
            .UserSummary.PercCorrect }}%</progress>
          <hr>
          <div class="columns is-mobile is-size-4 is-size-6-mobile">
            <div class="column has-text-weight-semibold">
              Верно
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.PercCorrect }}%
            </div>
            <div class="column is-3 has-text-right">
              ({{ .UserSummary.CorrectPredictions }})
            </div>
          </div>
          <div class="columns is-mobile is-size-4 is-size-6-mobile">
            <div class="column has-text-weight-semibold">
              Неверно
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.PercIncorrect }}%
            </div>
            <div class="column is-3 has-text-right">
              ({{ .UserSummary.IncorrectPredictions }})
            </div>
          </div>
          <hr>
          <div class="columns is-mobile is-size-5 is-size-6-mobile">
            <div class="column has-text-weight-semibold">
              Ожидают
            </div>
            <div class="column is-3 has-text-right">
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.UnknownPredictions }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="section">
    <h1 class="title is-3 has-text-centered">Ачивки</h1>
    {{ template "badge-selector" }}
  </div> -->
  <div class="section" id="challenges">
    <h1 class="title is-3 is-size-5-mobile has-text-centered">Ваши предсказания</h1>
    <div class="tabs is-large is-centered">
      <ul>
        <li class="{{ if .CreateChallengeForm }}is-active{{end}}">
          <a live-click="create-new" title="create-challenge">
            <i class="bi bi-file-earmark-plus"></i>
            <span class="is-hidden-mobile ml-1">Создать</span>
          </a>
        </li>
        <li class="{{ if .FilterArgs.Finished }}is-active{{end}}">
          <a live-click="select-finished" title="finished-challenges">
            <i class="bi bi-file-check"></i>
            <span class="is-hidden-mobile ml-1">Завершенные</span>
          </a>
        </li>
        <li class="{{ if .FilterArgs.Ongoing }}is-active{{end}}">
          <a live-click="select-ongoing" title="ongoing-challenges">
            <i class="bi bi-file-earmark-medical"></i>
            <span class="is-hidden-mobile ml-1">Открытые</span>
          </a>
        </li>
        <li class="{{ if .ShowMine }}is-active{{end}}">
          <a live-click="select-mine" title="my-challenges">
            <i class="bi bi-file-earmark-person"></i>
            <span class="is-hidden-mobile ml-1">Мои</span>
          </a>
        </li>
      </ul>
    </div>
    {{ if .CreateChallengeForm }}
    <!-- if create challenge -->
    <div class="block">
      {{ if .CreatedChallenge }}
      <div class="block">
        <p class="title is-4 has-text-centered">Created challenge</p>
        {{ template "challenge-list-item" .CreatedChallenge }}
      </div>
      {{ else }}
      <form id="create-challenge-form" live-submit="create-new-submit" live-change="create-new-validate">
        <h4 class="title is-4 is-size-5-mobile">
          Создать <span class="is-hidden-mobile">предсказание</span>
        </h4>
        <div class="field">
          <div class="box notification has-background-white">
            <div class="content">
              <p><b>Правила создания предсказаний</b></p>
              <ul>
                <li>Предсказания должны касаться каких-то общественно значимых вопросов.</li>
                <li>Исход предсказания не должен быть известен кому-либо на момент создания предсказания.</li>
                <li>Формулировка предсказания должна быть понятной и однозначной.</li>
                <li>Даты должны быть выбраны так, чтобы голосование закончилось ДО того как исход будет ясен.</li>
              </ul>
              <p>
                Перед публикацией все предсказания проходят модерацию.
                Администрация сайта оставляет за собой право изменить как формулировки предсказания, так и даты начала и
                конца голосования.
              </p>
              <p>
                После создания предсказания вы сможете найти его в разделе "Мои" на этой странице.
                Если ваше предсказание пройдёт модерацию, цвет его фона сменится с серого на синий.
              </p>
            </div>
          </div>
          {{ if .FormError }}
          <div class="block">
            <p class="title is-5 is-size-6-mobile has-text-danger">
              {{ .FormError.Error }}
            </p>
          </div>
          {{ end }}
          <label class="label">Содержание</label>
          <p class="heading">
            Основное содержание предсказания - должно быть сформулировано в виде утвердительного высказывания.
            <br>
            Ограничение по длине - 140 символов.
          </p>
          <div class="control">
            <input class="input" name="content" live-debounce="blur" type="text" placeholder="Content">
          </div>
        </div>
        <div class="field">
          <label class="label">Описание</label>
          <p class="heading">
            Пояснение насчёт содержания предсказания - условия, детали, уточнения.
            <br>
            Ограничение по длине - 280 символов.
          </p>
          <div class="control">
            <input class="input" name="description" live-debounce="blur" type="text" placeholder="Description">
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Начало голосования</label>
              <p class="heading">
                Дата начала голосования в формате 2006-12-31.
                <br>
                Дата начала голосования должна быть в будущем.
              </p>
              <div class="control">
                <input class="input" name="start-time" live-debounce="blur" type="text" placeholder="{{ .TimeLayout }}">
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="field">
              <label class="label">Конец голосования</label>
              <p class="heading">
                Дата конца голосования в формате 2006-12-31.
                <br>
                Дата конца голосования должна быть после даты начала.
              </p>
              <div class="control">
                <input class="input" name="end-time" live-debounce="blur" type="text" placeholder="{{ .TimeLayout }}">
              </div>
            </div>
          </div>
        </div>
        {{ if .FormError }}
        <div class="block">
          <p class="title is-5 is-size-6-mobile has-text-danger">
            {{ .FormError.Error }}
          </p>
        </div>
        {{ end }}
        <hr>
        <div class="field is-grouped is-grouped-centered">
          <div class="control">
            <button class="button is-link is-large is-rounded is-hidden-mobile" {{ if .FormError }}disabled{{ end }}>
              Создать
            </button>
            <button class="button is-link is-rounded is-hidden-tablet" {{ if .FormError }}disabled{{ end }}>
              Создать
            </button>
          </div>
        </div>
      </form>
      {{ end }}
    </div>
    {{ else }}
    <!-- else if create challenge -->
    <div class="level">
      <h4 class="title is-4 is-size-5-mobile">
        {{ if .FilterArgs.Finished }}
        Завершенные<span class="is-hidden-mobile"> предсказания</span>:
        {{ end }}
        {{ if .FilterArgs.Ongoing }}
        Открытые<span class="is-hidden-mobile"> предсказания</span>:
        {{end}}
        {{ if .ShowMine }}
        Мои<span class="is-hidden-mobile"> предсказания</span>:
        {{end}}
        {{ .ChallengeCount }}
      </h4>
      <h4 class="subtitle is-5 is-size-6-mobile">Страница <b>{{ .Page }}</b> из <b>{{ .MaxPage }}</b></h4>
    </div>
    <div class="block">
      {{ template "challenge-list-pagination" . }}
    </div>
    <div class="block">
      {{ if eq .ChallengeCount 0 }}
      <h5 class="title is-5 is-size-6-mobile">Пока нет предсказания по критериям</h5>
      {{ else }}
      {{ range $i, $challenge := .Challenges }}
      <div class="columns">
        <div class="column is-8 is-align-self-center">
          {{ template "challenge-list-item" $challenge }}
        </div>
        {{ if $challenge.UserPrediction }}
        <div class="column is-align-self-center">
          <div class="columns is-mobile">
            <div class="column is-narrow is-size-1 is-size-3-mobile is-align-self-center has-text-centered-tablet">
              <p class="is-family-monospace">
                {{ if $challenge.HasOutcome }}
                {{ if eq $challenge.UserPrediction.Prognosis $challenge.HasOutcomeAndTrue }}
                &equals;
                {{ else }}
                &NotEqual;
                {{ end }}
                {{ else }}
                ?
                {{ end }}
              </p>
            </div>
            <div class="column is-narrow is-align-self-center has-text-centered-tablet">
              {{ template "prognosis-tag" $challenge.UserPrediction.Prognosis }}
            </div>
            <div class="column is-narrow is-align-self-center has-text-right is-size-1 is-size-3-mobile">
              {{ if $challenge.HasOutcome }}
              {{ if eq $challenge.UserPrediction.Prognosis $challenge.HasOutcomeAndTrue }}
              🤩
              {{ else }}
              🙄
              {{ end }}
              {{ else }}
              🥺
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
        <!-- end if user prediction -->
      </div>
      <hr class="is-hidden-tablet">
      {{ end }}
      {{ end }}
    </div>
    <div class="block">
      {{ template "challenge-list-pagination" . }}
    </div>
    {{ end }}
    <!-- end if create challenge -->
  </div>
  {{ end }}
  <!-- end if user -->
</main>
{{ end }}

{{ define "prognosis-tag" }}
<span class="tag px-5 py-6 {{ if . }}prognosis-tag-true{{ else }}prognosis-tag-false{{ end }} is-hidden-mobile">
  <span class="is-size-4 is-size-6-mobile">Прогноз:&nbsp;</span>
  {{ if . }}
  <i class="bi-check-circle-fill is-size-2 is-size-4-mobile"></i>
  {{ else }}
  <i class="bi-x-circle-fill is-size-2 is-size-4-mobile"></i>
  {{ end }}
</span>
<span class="tag px-4 py-5 {{ if . }}prognosis-tag-true{{ else }}prognosis-tag-false{{ end }} is-hidden-tablet">
  <span class="is-size-4 is-size-6-mobile">Прогноз:&nbsp;</span>
  {{ if . }}
  <i class="bi-check-circle-fill is-size-2 is-size-4-mobile"></i>
  {{ else }}
  <i class="bi-x-circle-fill is-size-2 is-size-4-mobile"></i>
  {{ end }}
</span>
{{ end }}