{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}
<main>
  {{ template "back-to-home" }}
  <div class="section">
    <div class="columns">
      <div class="column is-4">
        <div class="block has-text-centered">
          <figure class="image is-128x128">
            <img class="is-rounded" src="{{ .User.Picture }}" alt="userpic">
          </figure>
        </div>
        <div class="block has-text-left">
          <p>
            <b>Имя: </b>
            <span>{{ .User.Name }}</span>
          </p>
          <p>
            <b>Email: </b>
            <span>{{ .User.Email }}</span>
          </p>
          <p>
            <b>Язык: </b>
            <span>{{ .User.Locale }}</span>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box notification has-background-white">

          <h3 class="title is-3 has-text-centered">Статистика</h3>
          <progress class="progress is-large user-summary-meter" value="{{ .UserSummary.PercCorrect }}" max="100">{{
            .UserSummary.PercCorrect }}%</progress>
          <hr>
          <div class="columns is-mobile is-size-4">
            <div class="column has-text-weight-semibold">
              Верно
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.PercCorrect }}%
            </div>
            <div class="column is-3 has-text-right">
              ({{ .UserSummary.CorrectPredictions }})
            </div>
          </div>
          <div class="columns is-mobile is-size-4">
            <div class="column has-text-weight-semibold">
              Неверно
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.PercIncorrect }}%
            </div>
            <div class="column is-3 has-text-right">
              ({{ .UserSummary.IncorrectPredictions }})
            </div>
          </div>
          <hr>
          <div class="columns is-mobile is-size-5">
            <div class="column has-text-weight-semibold">
              Ожидают
            </div>
            <div class="column is-3 has-text-right">
            </div>
            <div class="column is-3 has-text-right">
              {{ .UserSummary.UnknownPredictions }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}