{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}
<style>
  input[type='checkbox'] {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50px;
    border: 4px solid #485fc7;
  }

  input[type='checkbox']:checked {
    background: #485fc7;
  }

  input[type='checkbox']:disabled {
    border: 4px solid #b5b5b5;
    background: white;
  }
</style>
<main>
  {{ template "back-to-home" }}
  <div class="section">
    <form class="block" id="filter-challenges-form" live-change="filter-challenges">

      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="ongoing" {{ if .FilterArgs.Finished }}disabled{{ end }}>
              </div>
              <div class="level-item">
                <p class="is-size-4 pb-1 {{ if .FilterArgs.Finished }}has-text-grey-light{{ end }}">Открытые</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="finished" {{ if .FilterArgs.Ongoing }}disabled{{ end }}>
              </div>
              <div class="level-item">
                <p class="is-size-4 pb-1  {{ if .FilterArgs.Ongoing }}has-text-grey-light{{ end }}">Завершённые</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ if .User }}
      <div class="field">
        <div class="control">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <input type="checkbox" name="unvoted">
              </div>
              <div class="level-item">
                <p class="is-size-4 pb-1">Без вашего голоса</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

    </form>
    <div class="level">
      <h4 class="title is-4">Найдено предсказаний: {{ .ChallengeCount }}</h4>
      <h4 class="subtitle is-5">Страница <b>{{ .Page }}</b> из <b>{{ .MaxPage }}</b></h4>
    </div>
    <div class="block">
      {{ template "pagination" . }}
    </div>
    <div class="block">
      {{ if eq .ChallengeCount 0 }}
      <h5 class="title is-5">Пока нет предсказания по критериям</h5>
      {{ else }}
      {{ range $i, $challenge := .Challenges }}
      {{ template "challenge-list-item" $challenge }}
      {{ end }}
      {{ end }}
    </div>
    <div class="block">
      {{ template "pagination" . }}
    </div>
  </div>
</main>
{{ end }}

{{ define "pagination" }}
<nav class="level" role="navigation" aria-label="pagination">
  <div class="level-left">
    <div class="level-item">
      {{ if gt .Page 1 }}
      <h3 class="title is-4">
        <a live-click="challenge-list-update-page" live-value-page="{{.PrevPage}}">
          <i class="bi-chevron-left"></i>
        </a>
      </h3>
      {{ end }}
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      {{ if ne .MaxPage 1 }}
      {{ if lt .Page .MaxPage }}
      <h3 class="title is-4">
        <a live-click="challenge-list-update-page" live-value-page="{{.NextPage}}">
          <i class="bi-chevron-right"></i>
        </a>
      </h3>
      {{ end }}
      {{ end }}
    </div>
  </div>
</nav>
{{ end }}