{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}

<main>
  <div class="section">
    <div class="columns">
      <div class="column is-two-fifths">
        <h1 class="title is-1 is-size-3-mobile">Социальная футурология</h1>
        <h3 class="subtitle is-3 is-size-5-mobile">Краудсорсинг предсказаний будущего</h3>
      </div>
      <hr class="is-hidden-tablet">
      <div class="column is-three-fifths">
        <div class="content is-large">
          <p>
            Предиктор придуман в первую очередь как игра, и чтобы в эту игру выиграть,
            надо хорошо понимать, что происходит вокруг.
          </p>
          <h4>Интеллектуальная игра, где ключ к успеху в хорошем понимании реальности.</h4>
          <p>
            Психолог Джорж Келли считал, что предсказание будущего - вообще центральная функция психики,
            ради которой последняя и появилась в процессе эволюции. Он описывал психику как
            "прогностическую систему", качество которой определяется способностью
            как можно более точно предсказывать будущие события.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="box has-background-white">
      <h3 class="title is-3 is-size-5-mobile has-text-centered">Интерфейс</h3>
      <div class="columns">
        <div class="column">
          {{ if .TrueChallengeExample }}
          {{ template "challenge-card" .TrueChallengeExample }}
          {{ end }}
          <p class="content is-large">
            "Зелёные" предсказания - те, которые сбылись.
          </p>
        </div>
        <div class="column">
          {{ if .FalseChallengeExample }}
          {{ template "challenge-card" .FalseChallengeExample }}
          {{ end }}
          <p class="content is-large">
            "Красные" предсказания - те, которые не сбылись.
          </p>
        </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column">
          {{ if .OngoingChallengeExample }}
          {{ template "challenge-card" .OngoingChallengeExample }}
          {{ end }}
          <p class="content is-large">
            "Синие" предсказания - те, реальный исход по которым ещё не известен.
          </p>
        </div>
        <div class="column">
          <p class="content is-large">
            Если голосование ещё не закончилось (обратите внимание на даты), то можно зайти на страницу предсказания и
            проголосовать.
            После этого вы сможете увидеть как распределились голоса остальных пользователей.
            Для этого надо
            {{ if .User }}
            залогиниться.
            {{ else }}
            <a class="has-text-link" live-click="open-login-modal">залогиниться</a>.
            {{ end }}
            Это нужно во избежание накрутки голосов.
            Мы не собираем никакие данные, кроме имени пользователя и имейла.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="content is-large">
      <h4>Соревнование</h4>
      <p>
        Мы работаем над тем чтобы добавить соревновательный компонент.
        В будущем голосование за тот или иной исход будет означать ставку во внутренних токенах сервиса.
        Эти токены в дальнейшем можно будет конвертировать в какую-то реальную валюту.
      </p>
      <p>
        Предполагаемая механика такая: при голосовании всегда ставится 1 токен, при победе того или иного результата
        вся сумма токенов какого-то предсказания делится на тех, кто угадал правильный исход.
      </p>
      <p>
        Если реальный исход установить не удалось, то все ставки возвращаются на счета пользователей.
        Отсутствие каких-либо букмекерских коэффициентов исключает манипуляцию результатами со стороны сервиса.
      </p>
    </div>
  </div>
  {{ if .Summary }}
  <div class="section">
    {{ template "system-summary" .Summary }}
  </div>
  {{ end }}
</main>

{{ end }}