{{ define "title" }} Crowdsourced predictions {{ end }}
{{ define "view" }}

<main>
  <div class="section">
    <div class="has-text-centered">
      <h1 class="title is-1 is-size-2-mobile">Predictor</h1>
      <h3 class="subtitle is-3 is-size-4-mobile">Социальная футурология</h3>
      <p class="title is-4 is-size-6-mobile mt-3">
        Здесь можно голосовать за исход предсказаний,<br>
        создавать свои предсказания и следить за их результатами.
      </p>
      <a {{if .User}}href="/profile" {{else}}disabled{{end}}
        class="button is-large is-link is-rounded is-responsive is-hidden-mobile">
        Создать предсказание
      </a>
      <a {{if .User}}href="/profile" {{else}}disabled{{end}}
        class="button is-link is-rounded is-responsive is-hidden-tablet">
        Создать предсказание
      </a>
      {{ if .User }}
      {{ else }}
      <p class="heading has-text-centered mt-4">
        <a class="has-text-link" live-click="open-login-modal">Войдите</a>, чтобы создавать предсказания
      </p>
      {{ end }}
    </div>
  </div>
  </div>
  <div class="block">
    <div class="columns is-4">
      <div class="column">
        <div class="box py-6">
          <h4 class="title is-4 is-size-5-mobile has-text-centered">Близки к завершению</h4>
          {{ if eq .ClosingChallengesCount 0 }}
          <h5 class="subtitle is-5 is-size-6-mobile has-text-centered mt-5">Сейчас нет незавершенных предсказаний</h5>
          {{ else }}
          {{ range $i, $challenge := .ClosingChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}
          {{ end }}

          <hr>
          <h4 class="title is-4 is-size-5-mobile has-text-centered">Открытые предсказания</h4>
          {{ if eq .RandomOngoingChallengesCount 0 }}
          <h5 class="subtitle is-5 is-size-6-mobile has-text-centered mt-5">Пока нет вопросов на которые вы ещё не
            ответили</h5>
          {{ else }}
          {{ range $i, $challenge := .RandomOngoingChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}
          {{ end }}
        </div>

      </div>
      <div class="column">
        <div class="box py-6">
          <h4 class="title is-4 is-size-5-mobile has-text-centered">Завершенные предсказания</h4>
          {{ range $i, $challenge := .RandomFinishedChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}

          <hr>
          <h4 class="title is-4 is-size-5-mobile has-text-centered">Ожидают результата</h4>
          {{ if eq .RandomPendingChallengesCount 0 }}
          <h5 class="subtitle is-5 is-size-6-mobile has-text-centered mt-5">Сейчас нет предсказаний без результата</h5>
          {{ else }}
          {{ range $i, $challenge := .RandomPendingChallenges }}
          {{ template "challenge-card" $challenge }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ if .Summary }}
  <div class="section">
    {{ template "system-summary" .Summary }}
  </div>
  {{ end }}
</main>

{{ end }}