{{define "challenge-list-item"}}
<style>
    .challenge-link {
        text-decoration: none !important;
    }
</style>

<div class="notification">
    <div class="columns">
        <div class="column is-8 is-align-self-center">
            <a class="challenge-link" href="/challenge/{{ .ID }}">
                <h5 class="title is-4">{{ .Content }} <i class="bi-link-45deg"></i></h5>
            </a>
        </div>
        <div class="column has-text-right">
            <div class="columns is-mobile">
                <div class="column is-align-self-center">
                    <p class="heading has-text-centered is-size-6">
                        с <b>{{ .StartStr }}</b> по <b>{{ .EndStr }}</b>
                    </p>
                </div>
                <div class="column is-2 is-align-self-center">
                    {{ if .HasOutcome }}
                    {{ if .HasOutcomeAndTrue }}
                    <i class="bi-check-circle-fill" style="font-size: 2rem;"></i>
                    {{ else }}
                    <i class="bi-x-circle-fill" style="font-size: 2rem;"></i>
                    {{ end }}
                    {{ else }}
                    <i class="bi-question-circle-fill" style="font-size: 2rem;"></i>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}