{{define "challenge-card"}}
<style>
    .challenge-link {
        text-decoration: none !important;
    }
</style>

<div class='notification {{ template "challenge-card-style" . }}'>
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <p class="heading has-text-centered is-size-6-tablet">
                    с <b>{{ .StartStr }}</b>
                </p>
            </div>
        </div>
        <div class="level-right has-text-right">
            <div class="level-item">
                <p class="heading has-text-centered is-size-6-tablet">
                    по <b>{{ .EndStr }}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="block">
                <a class="challenge-link" href="/challenge/{{ .ID }}">
                    <h5 class="title is-4 is-size-5-mobile">{{ .Content }} <i class="bi-link-45deg"></i></h5>
                </a>
            </div>
        </div>
        <div class="column is-narrow has-text-centered-mobile is-size-2-tablet is-size-4-mobile">
            {{ if .HasOutcome }}
            {{ if .HasOutcomeAndTrue }}
            <i class="bi-check-circle-fill"></i>
            {{ else }}
            <i class="bi-x-circle-fill"></i>
            {{ end }}
            {{ else }}
            <i class="bi-question-circle-fill"></i>
            {{ end }}
        </div>
    </div>

    {{ if .Finished }}
    <progress class="progress is-large" value="{{ .VotesTrue }}" max="{{ .Votes }}">80%</progress>
    <div class="level is-mobile is-size-4-tablet">
        <!-- Left side -->
        <div class="level-left is-hidden-mobile has-text-weight-bold">
            <div class="level-item">
                <i class="bi-check-lg" style="font-size: 1.5rem;"></i>
            </div>
            <div class="level-item">
                <p class="title is-4">{{ .PercTrue }}%</p>
            </div>
        </div>

        <!-- center -->
        <div class="level-item has-text-centered has-text-weight-bold">
            <div>
                <p class="heading">Голосов</p>
                <p class="title is-4">{{ .Votes }}</p>
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right is-hidden-mobile has-text-weight-bold">
            <div class="level-item">
                <p class="title is-4">{{ .PercFalse }}%</p>
            </div>
            <div class="level-item">
                <i class="bi-x-lg" style="font-size: 1.5rem;"></i>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="level is-mobile">
        <!-- Left side -->

        <!-- center -->
        <div class="level-item has-text-centered has-text-weight-bold">
            <div>
                <p class="heading">Голосов</p>
                <p class="title is-4">{{ .Votes }}</p>
            </div>
        </div>

        <!-- Right side -->
    </div>
    {{ end }}
</div>
{{end}}