{{define "challenge-details-scale"}}
<div class="block mb-6">
    <progress class="progress is-large" value="{{ .Challenge.VotesTrue }}" max="{{ .Challenge.Votes }}">{{
        .Challenge.PercTrue }}%</progress>
</div>
<div class="level is-mobile">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div>
                <p class="heading">Считают что это верно</p>
                <p class="title is-1">
                    {{ .Challenge.PercTrue }}%
                </p>
            </div>
        </div>
    </div>

    <!-- center -->
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Всего голосов</p>
            <p class="title is-1">{{ .Challenge.Votes }}</p>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right has-text-right">
        <div class="level-item">
            <div>
                <p class="heading">Считают что это неверно</p>
                <p class="title is-1">
                    {{ .Challenge.PercFalse }}%
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}