{{define "challenge-list-item"}}
<style>
  .challenge-link {
    text-decoration: none !important;
  }
</style>

<div class='notification {{ template "challenge-card-style" . }}'>
  <div class="columns">
    <div class="column is-8 is-align-self-center">
      <a class="challenge-link" href="/challenge/{{ .ID }}">
        <h5 class="title is-4 is-size-6-mobile">{{ .Content }} <i class="bi-link-45deg"></i></h5>
      </a>
    </div>
    <div class="column has-text-right">
      <div class="columns is-mobile">
        <div class="column is-align-self-center">
          <p class="heading has-text-centered has-text-left-mobile is-size-6 is-size-7-mobile is-marginless">
            с <b>{{ .StartStr }}</b><br class="is-hidden-tablet"> по <b>{{ .EndStr }}</b>
          </p>
        </div>
        <div class="column is-2 is-size-2 is-size-4-mobile is-align-self-top">
          {{ if .HasOutcome }}
          {{ if .HasOutcomeAndTrue }}
          <i class="bi-check-circle-fill"></i>
          {{ else }}
          <i class="bi-x-circle-fill"></i>
          {{ end }}
          {{ else }}
          <i class="bi-question-circle-fill"></i>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}