{{define "system-summary"}}
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Активных вопросов</p>
      <p class="title">{{ .OngoingChallenges }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Закрытых вопросов</p>
      <p class="title">{{ .FinishedChallenges }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Участников</p>
      <p class="title">{{ .Users }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Прогнозов</p>
      <p class="title">{{ .Predictions }}</p>
    </div>
  </div>
</nav>
{{ end }}